@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

$background: #f1f1f1;
$background-dark: #636363;
$primary-color: darkblue;
$primary-light: blue;
$secondary-dark: darkred;
$secondary-color: red;
$contrast-color: darkgreen;

$primary-font: 'DM Mono';
$ruimte: 0 2em;